doctype 5
html
  head
    include style.styl
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="jquery.scrollTo-1.4.3.1-min.js")
    include bin/main.js
    link(rel="icon", type="image/png", href="favicon.png")
    title Heptarex
  body
  #menu
    .centered
      .item: a.scroll(href="#top") 
        img#logo.2x(src="menu_logo.png")
        span Heptarex
      .item: a.scroll(href="#bigdata") Big Data
      .item: a.scroll(href="#mobile") Mobile
      .item: a.scroll(href="#web") Web
      .item: a.scroll(href="#around") Around
      .item: a.scroll(href="#contact") Contact
  #top
  #about.section
    .content
      | Heptarex is 
      a.scroll(href="#bigdata") big data analysis
      | , 
      a.scroll(href="#mobile") mobile app development
      | , and 
      a.scroll(href="#web") front-end design consulting
      |  by Kevin Finn.
  #bigdata.section
    .content
      | Brotapes recommends new music based on listening habits of you and your
      | friends. Currently under development.
  #mobile.section
    .content
      | MoBro automatically adds mustaches to faces in real-time on iOS. App
      | store pending.
      .gallery
        a(href="#"): img(src="mb_live.png")
        a(href="#"): img(src="mb_edit.png")
        a(href="#"): img(src="mb_share.png")
        a(href="#"): img(src="mb_dogs.png")
  #web.section
    .content
      | French Horn Rebellion is a fun Brooklyn band with a 
      a(href="//frenchhornrebellion.com", target="_blank") site built by Heptarex
      | .
      .gallery
        a(href="#"): img(src="fhr_blog.png")
        a(href="#"): img(src="fhr_home.png")
  #around.section
    .content
      p
        | Follow 
        a(href="//twitter.com/heptarex") @Heptarex
        |  or 
        a(href="//heptarex.tumblr.com") heptarex.tumblr.com
        | .
      p
        | Fork Kevin on 
        a(href="//github.com/kfinn") GitHub
        |  or connect on 
        a(href="//www.linkedin.com/pub/kevin-finn/3b/411/ba5") LinkedIn
        | .
  #contact.section
    img#biglogo.2x(src="logo.png")
    .content Want to chat? 
      a(href="mailto:inquiries@heptarex.com") inquiries@heptarex.com
  #go
    .pg
    a(href="#"): img