doctype 5
html
  head
    include style.styl
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    include main.js
  body
  //- #top
  //-   ul.row
  //-     li: a(href="#top") 
  //-       img.2x(src="menu_logo.png")
  //-       | Heptarex
  //-     li: a(href="#bigdata") Big Data
  //-     li: a(href="#mobile") Mobile
  //-     li: a(href="#web") Web
  //-     li: a(href="#around") Around
  //-     li: a(href="#contact") Contact
  #about.section
    .content
      | Heptarex is 
      a(href="#bigdata") big data analysis
      | , 
      a(href="#mobile") mobile app development
      | , and 
      a(href="#web") front-end design consulting
      |  by Kevin Finn.
  #bigdata.section
    .content
      | Brotapes recommends new music based on listening habits of you and your
      | friends. Currently under development.
  #mobile.section
    .content
      | MoBro automatically adds mustaches to faces in real-time on iOS. App
      | store pending.
  #web.section
    .content
      | French Horn Rebellion is a Brooklyn band with a 
      a(href="//frenchhornrebellion.com") site built by Heptarex
      | .
  #around.section
    .content
      p
        | Follow 
        a(href="//twitter.com/heptarex") @Heptarex
        |  or 
        a(href="//heptarex.tumblr.com") heptarex.tumblr.com
        | .
      p
        | Follow 
        a(href="//twitter.com/superkevin") @superkevin
        | , friend 
        a(href="//facebook.com/kevinhfinn") Kevin Finn on Facebook
        | , or connect with 
        a(href="//www.linkedin.com/pub/kevin-finn/3b/411/ba5") Kevin Finn on LinkedIn
        | .
  #contact.section
    .content Want to chat?
      a(href="mailto:inquiries@heptarex.com") inquiries@heptarex.com